*{
border: 0;
font-family: 'Poppins', sans-serif;
margin: 0;
background: black;
color: white;
}
.navbar{
    padding-left: 25px;
    padding-right: 25px; 
    
    display: flex;
    /* align-content: space-between; */
    justify-content: space-between;
    justify-self: center;
}
.menu1 ul {
    display: flex;
   
    list-style: none;
}
.menu1 ul li{
    justify-content: space-between;
    margin: 12px;
    
}
.search{
    
    padding-left: 40px;
    padding-right: 450px; 
    align-content: center;
    padding-top: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    background: rgba(38, 38, 38, 1);
    color: gray;
}
menu>ul>li>img{
    height: 1px;
    width: 1px;
    display: flex;
justify-content: space-between;



}
.menu3 ul li{
display: flex;
width: 500px;
list-style: none;

/* justify-content: space-bet; */


}
.menu3 ul li p{
    margin-top: 50px;
    margin-left: 20px;
}
.clock>img{
height: 291px;
width: 291px;
}
.body{
    padding-left: 45px;
    padding-right: 45px; 
}
.Aboutus>h1{
    margin: 30px;
}
.Aboutus h1{
    
    
    display: block;
 
    
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}
.card>h1{
padding-top: 20px;
padding-bottom: 20px;
}
.main{
    display: inline;
    display:grid;
    grid-gap: 60px;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 50px;
}
.main>b>p{
    /* padding-top: 110px; */
}
footer{
    display: flex;
    justify-content: space-around;
    
    padding: 50px;
}
footer h4{
    margin-left: 30px;
}
footer ul li{
    list-style: none;
}
.forent{
    width: 600px;
    
}
.yellow{
    background-color: rgba(254, 203, 3, 1);
    color: black;
    padding: 10px;
    margin-top: 20px;
    margin-left: 300px;
    border-radius: 25px;
    font-weight: bold;
}
.yellow1{
    background-color: rgba(254, 203, 3, 1);
    color: black;
    padding: 10px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 25px;
    font-weight: bold;
}